/*
 * app.css
 */

/* Grid */
.voffset  { margin-bottom: 2px; }
.voffset1 { margin-bottom: 5px; }
.voffset2 { margin-bottom: 10px; }
.voffset3 { margin-bottom: 15px; }
.voffset4 { margin-bottom: 30px; }
.voffset5 { margin-bottom: 40px; }
.voffset6 { margin-bottom: 60px; }
.voffset7 { margin-bottom: 80px; }
.voffset8 { margin-bottom: 100px; }
.voffset9 { margin-bottom: 150px; }

.center-container {
  text-align: center;
}

.center-block {
  margin: 0 auto;
  float: none;
}

/* Search box */
.form-control,
.form-control:focus {
  border-color: #ccc;
  box-shadow: none;
}

/* Spectatr tiles */
.tile {
  padding-top: 5px;
  padding-bottom: 5px;
}

/* Loading animation */
.loading {
  width: auto;
  padding-top: 20px;
}
